.container_grid {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas:
    "sideBar header header header"
    "sideBar content content content";
  height: 100%;
}

#sideBar {
  grid-area: sideBar;
  background: #6261b4;
  width: 250px;
  transition: 0.2s linear;
  height: 100%;
}

#header {
  grid-area: header;
}

.menuDesaparecer {
  width: 70px !important;
}

#content {
  grid-area: content;
  background: #F5F5F5;
  padding: 0rem 2rem;
  height: 100%;
}

.container_logoMenu button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.container_logo p {
  margin: 0;
}

.container_logoMenu {
  background: #5554aa;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 70px;
}

.container_inicial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.container_grid-contagem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "todo doing done";
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2.6rem;
}

#todo {
  grid-area: todo;
}

#doing {
  grid-area: doing;
}

#done {
  grid-area: done;
}

#avatar {
  border-radius: 5px;
}

.celula__contagem {
  padding: 1.5rem 1rem;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__img-celula {
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container__divtodo {
  background: rgba(181, 228, 255, 0.3);
}

#container__divdoing {
  background: rgba(184, 128, 239, 0.2);
}

#container__divdone {
  background: rgba(181, 255, 224, 0.3);
}

.container__numeral {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.descricao__numeral {
  font-weight: 600;
}

.num {
  font-size: 2rem;
  font-weight: bold;
}

.buttom__add {
  background-color: #5554aa;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;
  cursor: pointer;
}

.buttom__add img{
  width: 20px;
  height: auto;
}

.texto_principal {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.texto__descricao {
  font-weight: bold;
}

#mensagem__atraso {
  font-size: 0.8rem;
  padding-left: 0.3rem;
}

.container__section-grafico {
  border-radius: 8px;
  background: #fff;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container__section-grafico div:first-child {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.container__section-grafico div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

app-line-chart {
  width: 100%;
  height: auto;
}

.input__form_filter {
  border-radius: 10px;
  border: 1px solid var(--black-10, #e8eef0);
  background: var(--white-100, #fff);
}

.input__form_filter:focus {
  border: 1px solid #5554aa !important;
}

input {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .container_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.1fr 1fr;
    grid-template-areas:
      "sideBar"
      "header"
      "content";
    min-height: 100vh;
  }

  #sideBar {
    width: 100% !important;
  }

  .menuDesaparecer {
    width: 100%;
    height: 200px !important;
  }

  #sideBar {
    height: 60px;
  }

  .container_grid-contagem {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "todo"
      "doing"
      "done";
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2.6rem;
  }

  .container_inicial {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .container__grafico {
    overflow-x: scroll;
  }

  #content {
    padding: 0rem 1rem;
  }

}
