<div class="container_grid">
  <div id="sideBar" [ngClass]="themeService.menu ? 'menuDesaparecer' : ''">
    <app-sidebar></app-sidebar>
  </div>

  <div id="header">
    <app-header></app-header>
  </div>

  <div id="content">
    <div class="container_inicial">
      <div>
        <p class="texto_principal">Olá <span>Fábio</span>,</p>
        <p>Bem-vindo ou seu gestor de tarefas!</p>
      </div>

      <div style="display: flex; gap: 1rem">
        <button class="buttom__add" (click)="openDialog()">
          <img
            src="../../../assets/square-plus.svg"
            alt="icone nova tarefa ou editar"
          />
          Nova Tarefa
        </button>
      </div>
    </div>

    <div class="container_grid-contagem">
      <div id="todo" class="celula__contagem">
        <div class="container__numeral">
          <span class="num">{{
            numTasksEmAndamento + numTasksConcluidas
          }}</span>
          <span class="descricao__numeral">to do</span>
        </div>

        <div>
          <div id="container__divtodo" class="container__img-celula">
            <img src="../../../assets/loading.svg" alt="" />
          </div>
        </div>
      </div>

      <div id="doing" class="celula__contagem">
        <div class="container__numeral">
          <div>
            <nz-badge [nzDot]="dot">
              <span class="head-example num">{{
                numTasksEmAndamento
              }}</span></nz-badge
            >
            <span id="mensagem__atraso"
              >{{ numTasksAtrasadas }} tarefa em atraso!</span
            >
          </div>

          <span class="descricao__numeral">doing</span>
        </div>

        <div>
          <div id="container__divdoing" class="container__img-celula">
            <img src="../../../assets/square-terminal.svg" alt="" />
          </div>
        </div>
      </div>

      <div id="done" class="celula__contagem">
        <div class="container__numeral">
          <span class="num">{{ numTasksConcluidas }}</span>
          <span class="descricao__numeral">done</span>
        </div>

        <div>
          <div id="container__divdone" class="container__img-celula">
            <img src="../../../assets/checkbox.svg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div>
      <p class="texto__descricao"># Tarefas concluídas por dia</p>
    </div>

    <div class="container__section-grafico">
      <div class="container__grafico">
        <app-line-chart></app-line-chart>
      </div>
    </div>
  </div>
</div>
