.container_logoMenu button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.container_logo p {
  margin: 0;
}

.container_logoMenu {
  background: #5554aa;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 70px;
}

.container_inicial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.container_grid-contagem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "todo doing done";
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2.6rem;
}

#todo {
  grid-area: todo;
}

#doing {
  grid-area: doing;
}

#done {
  grid-area: done;
}

#avatar {
  border-radius: 5px;
}

.celula__contagem {
  padding: 1.5rem 1rem;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__img-celula {
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container__divtodo {
  background: rgba(181, 228, 255, 0.3);
}

#container__divdoing {
  background: rgba(184, 128, 239, 0.2);
}

#container__divdone {
  background: rgba(181, 255, 224, 0.3);
}

.container__numeral {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.descricao__numeral {
  font-weight: 600;
}

.num {
  font-size: 2rem;
  font-weight: bold;
}

.texto__descricao {
  font-weight: bold;
}

#mensagem__atraso {
  font-size: 0.8rem;
  padding-left: 0.3rem;
}

.container__section-grafico {
  border-radius: 8px;
  background: #fff;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container__section-grafico div:first-child {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.container__section-grafico div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

app-line-chart {
  width: 100%;
  height: auto;
}

input {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .container_grid-contagem {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "todo"
      "doing"
      "done";
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2.6rem;
  }

  .container_inicial {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .container__grafico {
    overflow-x: scroll;
  }
}
