.container__header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
  height: 70px;
  width: 100%;
}

.container__header div {
  display: flex;
  align-items: center;
}

#avatar {
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .container__header {
    padding: 1rem 1rem;
  }
}
