<header>
  <p>Esig<span class="header__group">GROUP</span></p>
</header>

<div class="login">
  
  <form [formGroup]="loginForm" (submit)="submitLogin()">
    <input
      type="email"
      formControlName="email"
      placeholder="Email"
      aria-label="Campo para email"
      class="login__input"
    />

    <input
      type="password"
      formControlName="senha"
      placeholder="Senha"
      aria-label="Campo para senha"
      class="login__input"
    />

    <button
      type="submit"
      class="login__button"
      [disabled]="!loginForm.valid"
      aria-label="Botão para fazer login"
    >
      Enviar
    </button>
  </form>
</div>
