.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  margin: auto;
  background-color: #f5f5f5;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #6261b412;
  padding: 1rem;
  height: 300px;
  width: 300px;
  justify-content: center;
  border-radius: 10px;
  border-bottom: 0.2rem solid #6261b4;
  gap: 1rem;
}

mat-form-field {
  width: 300px;
}

.header__group{
  font-weight: 500;
}

button[type="submit"] {
  background-color: #5554aa;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #5554aa7f;
}

.login__input {
  border-radius: 10px !important;
  border: 1px solid var(--black-10, #e8eef0);
  background: #f5f5f5;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 5px;
  color: #00000079 !important;
}

.login__input:focus {
  border: 1px solid #5554aa !important;
}

header {
  background-color: #5554aa;
  color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;
}

header p {
  margin: 0;
  padding: 0;
}
