.container__button-sair{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.button__sair{
    background-color: #c34b35;
    border-radius: 5px;
    color: #FFF;
    width: 35%;
    border:none;
    cursor:pointer;
}

.high-contrast {
    background-color: #000 !important;
    color: #fff !important;
  }
  
  .high-contrast img {
    filter: invert(100%) !important;
  }
  
  .button-contrast{
    background-color: #fff !important;
    color: #000 !important;
  }
  
  .button-contrast:hover{
    background-color: #fff !important;
    color: #000 !important;
  }
  .text-contrast{
    color: #FFF !important;
  }
  
  .input-contrast{
    border: #fff !important;
    color: #FFF !important;
  }
  
@media (max-width: 700px) {
    .button__sair{
        width: 50%;
    } 
}
