.container_inicial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.container__filter_tabela {
  background-color: #fff;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 10px;
}

input,
select {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
}

form div div,
.filter__container div {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.filter__container {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.class-media {
  background: #ffa16c;
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
}

.class-alta {
  background: #ff1414;
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
}

.class-baixa {
  background: #14b9ff;
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
}

.tag__aberta {
  background: #ffa16c;
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
}

.tag__concluida {
  background: #4ad894;
  padding: 0.5rem;
  border-radius: 5px;
  color: #fff;
}

.ng__container-acoes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_inicial p a {
  color: #000;
  text-decoration: underline;
}

.titulo__tabela {
  color: #797b7c;
  font-weight: 800;
}
.container__table {
  margin-top: 1rem;
}

.accordion__mobile {
  display: none;
}


.title__link{
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

#select__periodo{
  display: flex;
}

@media (max-width: 1000px) {
  .filter__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
  }

  .filter__container input,
  .filter__container select,
  .filter__container div {
    width: 100% !important;
  }

  .rep_invisible {
    display: none;
  }

  .container__table {
    overflow-x: scroll;
    width: auto;
  }

  .accordion__mobile {
    display: flex;
  }
  .form__desk{
    display: none;
  }

  .filter__container{
    flex-direction: column;
  }

  mat-accordion{
    width: 100%;
  }

  .rep_invisible{
    display: none !important;
  }
}
