<div class="container_grid">
  <div id="sideBar" [ngClass]="themeService.menu ? 'menuDesaparecer' : ''">
    <app-sidebar></app-sidebar>
  </div>

  <div id="header">
    <app-header></app-header>
  </div>

  <div id="content">
    <div class="container_inicial">
      <div>
        <p class="texto_principal">Tarefas</p>
        <p><a href="/todopage">Dashboard</a> > Tarefas</p>
      </div>

      <div>
        <button class="buttom__add" (click)="openDialog()">
          <img
            src="../../../assets/square-plus.svg"
            alt="icone nova tarefa ou editar"
          />
          Nova Tarefa
        </button>
      </div>
    </div>

    <div class="container__filter_tabela">
      <div>
        <form [formGroup]="taskFilterForm">
          <div class="filter__container">
            <div>
              <input
                type="number"
                formControlName="number"
                placeholder="Número"
                id="numberInput"
                [ngClass]="{
                  'input-contrast': themeService.isHighContrastMode
                }"
                aria-label="Campo de pesquisa para um número"
                class="input__form_filter"
              />
            </div>

            <div>
              <select
                placeholder="x"
                id="situacaoInput"
                formControlName="situation"
                [ngClass]="{
                  'input-contrast': themeService.isHighContrastMode
                }"
                aria-label="Campo de pesquisa para um situação (Em andamento ou concluído)"
                class="input__form_filter"
              >
                <option selected value="">Todas Prioridades</option>
                <option value="true">Em andamento</option>
                <option value="false">Concluído</option>
              </select>
            </div>

            <div>
              <input
                type="text"
                formControlName="titleOrDescription"
                id="titleOrDescription"
                placeholder="Descrição/título"
                [ngClass]="{
                  'input-contrast': themeService.isHighContrastMode
                }"
                aria-label="Campo de pesquisa para título/descrição"
                class="input__form_filter"
              />
            </div>

            <div>
              <select
                placeholder="Responsável"
                formControlName="responsible"
                id="responsavel"
                [ngClass]="{
                  'input-contrast': themeService.isHighContrastMode
                }"
                aria-label="select para atribuir um responsável"
                class="input__form_filter"
               
              >
                <option disabled selected value="">Responsável</option>
                <option value="Luiz">Luiz</option>
                <option value="Raí">Raí</option>
                <option value="Alisson">Alisson</option>
                <option value="Carlos">Carlos</option>
                <option value="Laura">Laura</option>
                <option value="Gabriel">Gabriel</option>
                <option value="Mariana">Mariana</option>
                <option value="Daniel">Daniel</option>
                <option value="Luiza">Luiza</option>
                <option value="Julia">julia</option>
              </select>
            </div>
          </div>
         
        </form>
      </div>

      <div class="teste">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          [ngClass]="{ 'high-contrast': themeService.isHighContrastMode }"
        >
          <ng-container matColumnDef="title">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              [ngClass]="{
                'text-contrast border-contrast': themeService.isHighContrastMode
              }"
            >
              Tarefa
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              [ngClass]="{
                'text-contrast border-contrast': themeService.isHighContrastMode
              }"
            >
              {{ row.title }}
            </td>
          </ng-container>

          <ng-container matColumnDef="priority" class="">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class=""
              [ngClass]="{
                'text-contrast border-contrast': themeService.isHighContrastMode
              }"
            >
              Prior.
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              class=""
              [ngClass]="{
                'text-contrast border-contrast': themeService.isHighContrastMode
              }"
            >
              <span
                [ngClass]="{
                  'class-media': row.priority === 'Média',
                  'class-grave': row.priority === 'Grave',
                  'class-facil': row.priority === 'Fácil'
                }"
              >
                {{ row.priority }}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="situation" class="rep_invisible">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="rep_invisible"
              [ngClass]="{
                'text-contrast border-contrast': themeService.isHighContrastMode
              }"
            >
              Status.
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              class="rep_invisible"
              [ngClass]="{
                'text-contrast border-contrast': themeService.isHighContrastMode
              }"
            >
              <span class="tag__aberta" *ngIf="row.situation">Aberta</span>
              <span class="tag__concluida" *ngIf="!row.situation"
                >Concluída</span
              >
            </td>
          </ng-container>

          <ng-container matColumnDef="responsible">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              [ngClass]="{
                'text-contrast border-contrast': themeService.isHighContrastMode
              }"
            >
              Respons.
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              [ngClass]="{
                'text-contrast border-contrast': themeService.isHighContrastMode
              }"
            >
              {{ row.responsible }}
            </td>
          </ng-container>

          <ng-container matColumnDef="deadline" class="rep_invisible">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              class="rep_invisible"
              [ngClass]="{
                'text-contrast border-contrast': themeService.isHighContrastMode
              }"
            >
              Deadline
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              class="rep_invisible"
              [ngClass]="{
                'text-contrast border-contrast': themeService.isHighContrastMode
              }"
            >
              {{ row.deadline | date : "EEE d MMM" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              [ngClass]="{
                'text-contrast border-contrast': themeService.isHighContrastMode
              }"
            ></th>
            <td
              mat-cell
              *matCellDef="let row"
              [ngClass]="{
                'border-contrast': themeService.isHighContrastMode
              }"
            >
              <button
                mat-icon-button
                class="button__delete"
                (click)="deleteTask(row.id)"
                aria-label="Botão para deletar uma tarefa"
              >
                <img src="../../../assets/trash.svg" alt="botão para deletar" />
              </button>

              <button
                mat-icon-button
                (click)="showDetails(row)"
                class="showdetails"
                aria-label="Botão para detalhar uma tarefa"
              >
                <img src="../../../assets/eye.svg" alt="botão para detalhar" />
              </button>

              <button
                mat-icon-button
                class="button__edit"
                (click)="editTask(row)"
                aria-label="Botão para editar uma tarefa"
              >
                <img
                  src="../../../assets/blog-pencil.svg"
                  alt="botão para deletar"
                />
              </button>

              <button
                mat-icon-button
                class="button__edit"
                (click)="completeTask(row)"
                aria-label="Botão para concluir uma tarefa"
                *ngIf="row.situation"
              >
                <mat-icon>check_circle_outline</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
