<div class="container__div-modal">
  <div class="container_titulo">
    <h1 [ngClass]="{ 'high-contrast': themeService.isHighContrastMode }">
      Criar tarefa
    </h1>
  </div>

  <div id="botao_fecharmodal">
    <button
      mat-dialog-close
      aria-label="Botão para sair do modal"
      [ngClass]="{ 'button-contrast': themeService.isHighContrastMode }"
      class="btn_close"
    >
      <img src="../../../assets/circle-xmark.svg" alt="" />
    </button>
  </div>

  <div>
    <form [formGroup]="taskForm">
      <div>
        <input
          type="text"
          formControlName="title"
          id="titulo"
          placeholder="Título da tarefa"
          [ngClass]="{ 'input-contrast': themeService.isHighContrastMode }"
          aria-label="Campo para o título"
          class="input__form_filter"
        />
      </div>

      <div>
        <textarea
          formControlName="description"
          id="descricao"
          placeholder="Detalhes da Tarefa"
          rows="6"
          [ngClass]="{ 'input-contrast': themeService.isHighContrastMode }"
          aria-label="Campo para descrição da tarefa"
          class="input__form_filter"
        ></textarea>
      </div>

      <div class="container_duplo">
        <div>
          <input
            type="date"
            formControlName="deadline"
            id="deadline"
            placeholder=""
            [ngClass]="{ 'input-contrast': themeService.isHighContrastMode }"
            aria-label="Campo para data limite"
            class="input__form_filter"
          />
        </div>

        <div>
          <select
            placeholder="Prioridade"
            id="prioridade"
            formControlName="priority"
            [ngClass]="{ 'input-contrast': themeService.isHighContrastMode }"
            aria-label="select para setar a gravidade da tarefa"
            class="input__form_filter"
          >
            <option disabled selected value="">Ex.: Grave</option>
            <option value="Grave">Grave</option>
            <option value="Média">Médio</option>
            <option value="Fácil">Fácil</option>
          </select>
        </div>
      </div>

      <div>
        <select
          placeholder="Responsável"
          id="responsavel"
          formControlName="responsible"
          [ngClass]="{ 'input-contrast': themeService.isHighContrastMode }"
          aria-label="select para atribuir um responsável"
          class="input__form_filter"
        >
          <option disabled selected value="">Ex.: Luiz</option>
          <option value="Luiz">Luiz</option>
          <option value="Raí">Raí</option>
          <option value="Alisson">Alisson</option>
          <option value="Carlos">Carlos</option>
          <option value="Laura">Laura</option>
          <option value="Gabriel">Gabriel</option>
          <option value="Mariana">Mariana</option>
          <option value="Daniel">Daniel</option>
          <option value="Luiza">Luiza</option>
          <option value="Julia">julia</option>
        </select>
      </div>

      <div>
        <input type="file"  formControlName="file">
      </div>
    </form>

    <div class="container__button">
      <button
        mat-dialog-close
        class="dialog-actions__button_sair"
        aria-label="Botão para sair do modal"
        [ngClass]="{ 'button-contrast': themeService.isHighContrastMode }"
      >
        Cancelar
    </button>
      <button
        color="primary"
        (click)="addTask()"
        class="buttom__add"
        aria-label="Botão para adicionar uma tarrefa ou editar"
        [ngClass]="{ 'button-contrast': themeService.isHighContrastMode }"
      >
      <img src="../../../assets/square-plus.svg" alt="icone nova tarefa ou editar"> {{ actionBtn }}
      </button>
    </div>
  </div>
</div>

