<div class="container__div-modal">
  <div class="container__titulo">
    <h1 [ngClass]="{ 'high-contrast': themeService.isHighContrastMode }">
      Criar tarefa
    </h1>
  </div>

  <div id="botao_fecharmodal">
    <button
      mat-dialog-close
      aria-label="Botão para sair do modal"
      [ngClass]="{ 'button-contrast': themeService.isHighContrastMode }"
      class="button__fecharmodal"
    >
      <img src="../../../assets/circle-xmark.svg" alt="Botão sair do modal" />
    </button>
  </div>

  <div>
    <form [formGroup]="taskForm">
      <div>
        <input
          type="text"
          formControlName="title"
          id="titulo"
          placeholder="Título da Tarefa"
          [ngClass]="{ 'input-contrast': themeService.isHighContrastMode }"
          aria-label="Campo para o título"
          class="login__input"
        />
      </div>

      <div>
        <textarea
          formControlName="description"
          id="descricao"
          placeholder="Detalhes da Tarefa"
          rows="6"
          [ngClass]="{ 'input-contrast': themeService.isHighContrastMode }"
          aria-label="Campo para descrição da tarefa"
          class="login__input"
        ></textarea>
      </div>

      <div class="container__duplo">
        <div>
          <input
            type="date"
            formControlName="deadline"
            id="deadline"
            placeholder="Deadline"
            [ngClass]="{ 'input-contrast': themeService.isHighContrastMode }"
            aria-label="Campo para data limite"
            class="login__input"
          />
        </div>

        <div>
          <select
            placeholder="Prioridade"
            id="prioridade"
            formControlName="priority"
            [ngClass]="{ 'input-contrast': themeService.isHighContrastMode }"
            aria-label="select para setar a gravidade da tarefa"
            class="login__input"
          >
            <option disabled selected value="">Prioridade</option>
            <option value="Grave">Grave</option>
            <option value="Média">Médio</option>
            <option value="Fácil">Fácil</option>
          </select>
        </div>
      </div>

      <div>
        <select
          placeholder="Responsável"
          id="responsavel"
          formControlName="responsible"
          [ngClass]="{ 'input-contrast': themeService.isHighContrastMode }"
          aria-label="select para atribuir um responsável"
          class="login__input"
        >
          <option disabled selected value="">Responsáveis</option>
          <option value="Luiz">Luiz</option>
          <option value="Raí">Raí</option>
          <option value="Alisson">Alisson</option>
          <option value="Carlos">Carlos</option>
          <option value="Laura">Laura</option>
          <option value="Gabriel">Gabriel</option>
          <option value="Mariana">Mariana</option>
          <option value="Daniel">Daniel</option>
          <option value="Luiza">Luiza</option>
          <option value="Julia">julia</option>
        </select>
      </div>

      <div>
        <nz-upload
          nzType="drag"
          [nzMultiple]="true"
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          (nzChange)="handleChange($event)"
          class="custom-upload"
          
        >
          <p class="ant-upload-drag-icon">
           <img src="../../../assets/upload.svg" alt="imagem de upload">
          </p>
          <p class="ant-upload-text">
            Anexar arquivo
          </p>
          <p class="ant-upload-hint">
            A better way to tell which species are vulnerable
          </p>
        </nz-upload>
      </div>
    </form>

    <div class="container__button">
      <button
        mat-dialog-close
        class="dialog-actions__button_sair"
        aria-label="Botão para sair do modal"
        [ngClass]="{ 'button-contrast': themeService.isHighContrastMode }"
      >
        Cancelar
      </button>
      <button
        color="primary"
        (click)="addTask()"
        class="buttom__add"
        aria-label="Botão para adicionar uma tarrefa ou editar"
        [ngClass]="{ 'button-contrast': themeService.isHighContrastMode }"
      >
        <img
          src="../../../assets/square-plus.svg"
          alt="icone nova tarefa ou editar"
        />
        {{ actionBtn }}
      </button>
    </div>
  </div>
</div>
